<!DOCTYPE html>
<html class="dark:bg-slate-800 dark:text-white">
  <head>
    <title>Hally</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/sparkles_192.png">
    <link rel="manifest" href="/manifest.json" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6GT6S5X3TY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6GT6S5X3TY');
    </script>
  </head>

  <body>
    <main class="container mx-auto lg:my-28 my-5 px-5 flex items-center flex-col">
      <%= yield %>
    </main>
  </body>
</html>
